# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Others
*.sublime-build
*.sublime-project
*.sublime-workspace
test
count
uShell

p03_EN/tosend/MarioRios.tar

p03_EN/tosend/P3Data.txt

p04_EN/pipes/p4
